@import "../public/assets/scss/font-awesome";
@import "../public/assets/scss/style";
html{
    scroll-behavior: smooth;
}


.fab-item{
    width: 90px !important;
    height: 90px !important;
    font-size: 48px!important;
    
}
.icons1{
    font-size: 60px;
    padding-top: 10px;
}
.icons{
    font-size: 50px;
    
}
.fab-container {
    bottom: 12px!important;
    position: fixed!important;
    margin: 1em!important;
    right: 20px!important;
}
.opal-icon {
    color: white;
}

@media (max-width: 700px) {
    .fab-item{
        width: 60px !important;
        height: 60px !important;
        font-size: 20px!important;
        
    }
    .rpm-mp-level-open{
        position: absolute;
    }
    .icons1{
        font-size: 50px;
        padding-top: 10px;
    }
    .icons  {
        font-size: 30px;
        
    }
    .fab-container {
       
        bottom: 12px!important;
        position: fixed!important;
        margin: 1em!important;
        right: 20px!important;
    }
}
.uwu{
    box-shadow: 20px 20px  #88888831;
    border-radius: 2px;   
}

.uwu2{
    box-shadow: 20px 20px  #88888831;
    border-radius: 2px;
    
}
.back{
    background-color: #000000a6;
    border-radius: 5px;
}

.hr{
    display :none;
    width: 80%;
    margin :auto;
    height: 1.5px;
background-color: #88888831;
    margin-bottom: 80px;
}
 
@media (max-width: 1000px) {
    .hr{
        display: block;
    }
    .uwu2{
        box-shadow: 20px 20px  #88888831;
        border-radius: 2px;
        margin-bottom: 30px;   
    }
     
}

.pin{
    font-size:xx-large;
    padding-top: 2px;
    margin-right: 2px;
}
.separador{
    margin-bottom: 120px;
}
.margen{
    margin: auto;
}