@import "../public/assets/scss/font-awesome";
@import "../public/assets/scss/style";
html{
    scroll-behavior: smooth;
}
.whabtn{
    
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #9ea0a6;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 2px solid transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        padding: 10px 30px;
        font-size: 0.75rem;
        line-height: 1.875;
        border-radius: 0;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
//modal
.centeredModal{
    display: flex;
    justify-content: center;
align-items: center;
margin-left: 38%;
}
// section 
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.uwus{
    height: 100%;
    padding-top: 150px; 
    padding-bottom: 150px; 

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

// 
.modalFors{
    bottom: 5px;
    position: fixed;
    margin: 1em;
    right: 2px;  
}
      
.whas{
    color: #fff;
    background-color: green;
    margin: auto;
    justify-content: center;
    border-radius:100% ;
    width: 70px;
    padding-top: 7px;
    padding-left: 3.5px;
    height: 70px;
    font-size: 55px;
}
.whas:hover{
    background-color: rgb(18, 204, 18);
transition: 1s;
}

.celio{
 width: 100%;
 height: 100%;
 padding-top: 20px;
}
.slick-slide img{
    width: 100%;
}

.gale{
    margin: auto;
    padding: 100px;
}
.fab-item{
    width: 85px !important;
    height: 85px !important;
    font-size: 26px!important;
    
}
.cara{
    height: 100%!important;
}
.icons1{
    font-size: 60px;
    padding-top: 10px;
}
.icons{
    font-size: 50px;
    
}
.fab-container {
    bottom: 12px!important;
    position: fixed!important;
    margin: 1em!important;
    right: 20px!important;
}
.opal-icon {
    color: white;
}

@media (max-width: 700px) {
    .modalFors{
        bottom: initial;
        top:7.52%;
        position: fixed;
        right: -10px;
        border-end-start-radius: 155px;
    }
    

    .fab-item{
        width: 60px !important;
        height: 60px !important;
        font-size: 20px!important;
        
    }
    .whabtn{
        display: none;
    }
    .opal-wrapper{
        position: sticky;

    }
    .rpm-mp-level-open{
        position: absolute;
    }
    .icons1{
        font-size: 50px;
        padding-top: 10px;
    }
    .icons  {
        font-size: 30px;
        
    }
    .fab-container {
       
        bottom: 12px!important;
        position: fixed!important;
        margin: 1em!important;
        right: -50px !important;
        bottom: -30px !important;
    }
    .cel{
        display: none !important;
    }
    .sliderimg {
        width: 450px;
        height: 500px;
    }
    .slider-info {
        opacity: 80%;
        width: 350px;
        height: 100%;
    }
    .contares{
        display: none;
    }
   
}
.uwu{
    box-shadow: 20px 20px  #88888831;
    border-radius: 2px;   
}

.uwu2{
    box-shadow: 20px 20px  #88888831;
    border-radius: 2px;
    
}
.back{
    background-color: #000000a6;
    border-radius: 5px;
}

.hr{
    display :none;
    width: 80%;
    margin :auto;
    height: 1.5px;
background-color: #88888831;
    margin-bottom: 80px;
}
 
@media (max-width: 1000px) {
    .hr{
        display: block;
    }
    .uwu2{
        box-shadow: 20px 20px  #88888831;
        border-radius: 2px;
        margin-bottom: 30px;   
    }
    
}

.pin{
    font-size:xx-large;
    padding-top: 2px;
    margin-right: 10px;
    margin-left: 30px;
}
.separador{
    margin-bottom: 120px;
}
.margen{
    margin: auto;
}
.sliderText{
    font-family:"Montserrat", sans-serif;
}
.txt{
    font-size: 50px;
}
.parra{
    color:rgba(0, 0, 0, 0.556);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height : 30px;

}

.parra2{
    color:white;
    font-size: 15px;
    letter-spacing:2px;
    font-weight: 700;
    line-height : 30px;

}
.ub{
    font-size: 15px;
    margin-left: 30px;

}

@media (max-width: 1000px) {

    .txt{
        font-size: 30px;
    }
    .parra{
        color:rgba(0, 0, 0, 0.556);
        font-size: 13px;
        // letter-spacing: .2rem;
        font-weight: 600;
        line-height : 30px;
    
    }
    
    .parra2{
        color:white;
        font-size: 13px;
        letter-spacing: .2rem;
        font-weight: 500;
        line-height : 30px;
    
    }
}
